html {
	-webkit-filter: invert(100%) !important;
}
img,
iframe {
	-webkit-filter: invert(100%) !important;
}
a,
a:visited {
	color: #957373 !important;
}
a:hover {
	color: #957373 !important;
}
.top-nav>li>a {
	color: #444 !important;
}
.top-nav>li>a:hover {
	color: #957373 !important;
}
.dashboard-tabs a {
	color: #444 !important;
}
.dashboard-tabs a.selected, .dashboard-tabs a.selected:hover {
	color: #000 !important;
	border-bottom: 2px solid #957373 !important;
}
.dashboard-tabs a:hover{
	color: #000 !important;
	border-bottom: 2px solid #957373 !important;
	background-color:#957373 !important;
	background-image:-moz-linear-gradient(#fff, #b2a4a4) !important;
	background-image:-webkit-linear-gradient(#fff, #b2a4a4) !important;
	background-image:linear-gradient(#fff, #b2a4a4) !important;
}
.marketing-nav a.selected {
	border-bottom: 2px solid #957373 !important;
}
.marketing-nav a {
	color: #444 !important;
}
.tabnav .tabnav-tabs a {
	color: #444 !important;
}
ul.filter-list .filter-item {
	color: #444 !important;	
}
ul.filter-list .filter-item.selected {
	background: #957373 !important;
	color: #fff !important;
}
.news .alert .branch-link .octicon,
.branch-name .octicon {
	color: #222 !important;	
}
.news .alert .pull-info, 
.news .alert .branch-link,
.commit-ref {
	color: #454545 !important;
	background: #d8d7dd !important;
}
.commit-ref .user {
	color: #000 !important;
}
.feed-icon a {
	background: #d8d7dd !important;
}
.button.primary, 
.minibutton.primary {
	background-color: #957373 !important;
	background-image:-moz-linear-gradient(#957373, #b2a4a4) !important;
	background-image:-webkit-linear-gradient(#957373, #b2a4a4) !important;
	background-image:linear-gradient(#957373, #b2a4a4) !important;
	border-color: #b2a4a4 !important;
	color: #000 !important;
}
.menu-container,
.boxed-group {
	background: #eae9f0 !important;
}
.boxed-group h3 {
	border: none !important;
}
.boxed-group .boxed-group-inner {
	border-color: #eae9f0 !important;
}
.menu {
	border: 1px solid #eae9f0 !important;	
}
.menu a.selected {
	border-left: 2px solid #957373 !important;
}
.repo-list-item {
	background-color: #f5f5f5 !important;
}
.private .repo-list-item, 
.branch-name {
	background-color: #eee !important;
}
.repo-filterer .repo-filter {
	color: #000 !important;
}
.simple-conversation-list>li .state-open,
.gh-header-status.open,
.discussion-item-open .discussion-item-icon {
	background-color: #9339bb !important;
}
.simple-conversation-list>li .state-merged,
.gh-header-status.merged,
.discussion-item-merged .discussion-item-icon {
	background-color: #91ab6b !important;
}
.simple-conversation-list>li .state-closed,
.gh-header-status.closed,
.discussion-item-closed .discussion-item-icon {
	background-color: #42d3ff !important;
}
.simple-conversation-list>li .state-published,
.gh-header-status.published,
.discussion-item-published .discussion-item-icon {
	background-color: #9339bb !important;
}
.open.octicon {
	color: #42d3ff !important;
}
.closed.octicon {
	color: #9339bb !important;
}
.repo-list-item .repo-icon {
	color: #666 !important;
}
.text-diff-added {
	color: #aa5acd !important;
}
.text-diff-deleted {
	color: #42d3ff !important;
}
.code-list .private .bubble {
	border: none !important;
	background: #eae9f0 !important;
}
.code-list .private .bubble .file-box {
	border: 1px solid #eae9f0 !important;
}
.blob-line-nums a, .blob-line-nums span {
	color: #666 !important;
}
.list-group-item.navigation-focus {
	background: #eae9f0 !important;
}
.usage-bar dd span{
	background-color:#9c51d9 !important;
	background-image:-moz-linear-gradient(#7e3ab5, #9c51d9) !important;
	background-image:-webkit-linear-gradient(#7e3ab5, #9c51d9) !important;
	background-image:linear-gradient(#7e3ab5, #9c51d9) !important;
	background-repeat:repeat-x;box-shadow:inset 0 1px 0 rgba(0,0,0,0.4) !important;
}
.usage-bar dd span.danger{
	background-color:#1236ff !important;
	background-image:-moz-linear-gradient(#09209f, #1236ff) !important;
	background-image:-webkit-linear-gradient(#09209f, #1236ff) !important;
	background-image:linear-gradient(#09209f, #1236ff) !important;
}
.usage-bar dd span.maxed{
	background-color:#99ffff !important;
	background-image:-moz-linear-gradient(#6ff6ff, #9ff9ff) !important;
	background-image:-webkit-linear-gradient(#6ff6ff, #9ff9ff) !important;
	background-image:linear-gradient(#6ff6ff, #9ff9ff) !important;
}
.starred-repo.navigation-focus {
	background-color: #eee !important;
}
.enterprise .notification-indicator.contextually-unread{
	background-color:#cfbdab !important;
	background-image:-moz-linear-gradient(#425567, #cfbdab) !important;
	background-image:-webkit-linear-gradient(#425567, #cfbdab) !important;
	background-image:linear-gradient(#425567, #cfbdab) !important;
	border-color:#273644 #273644 #273644 #2a2c2e !important;
}
.notification-indicator .mail-status{
	background-color:#555 !important;
	background-color:#333 !important;
	background-image:-moz-linear-gradient(#555, #333) !important;
	background-image:-webkit-linear-gradient(#555, #333) !important;
	background-image:linear-gradient(#555, #333) !important;
}
.notification-indicator:hover .mail-status{
	background-color:#444 !important;
	background-image:-moz-linear-gradient(#666, #444) !important;
	background-image:-webkit-linear-gradient(#666, #444) !important;
	background-image:linear-gradient(#666, #444) !important;
}
.notification-indicator .unread{
	background-color:#cd965f !important;
	background-image:-moz-linear-gradient(#be7c3b, #cd965f) !important;
	background-image:-webkit-linear-gradient(#be7c3b, #cd965f) !important;
	background-image:linear-gradient(#be7c3b, #cd965f) !important;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 0 rgba(0,0,0,0.1),0 0 10px #be7c3b !important;
}
.notification-indicator:hover .unread{
	background-color:#d3a272 !important;
	background-image:-moz-linear-gradient(#c7894b, #d3a272) !important;
	background-image:-webkit-linear-gradient(#c7894b, #d3a272) !important;
	background-image:linear-gradient(#c7894b, #d3a272) !important;
}
.notification-indicator.contextually-unread{
	background-color:#d2e4f9 !important;
	background-image:-moz-linear-gradient(#160d03, #d2e4f9) !important;
	background-image:-webkit-linear-gradient(#160d03, #d2e4f9) !important;
	background-image:linear-gradient(#160d03, #d2e4f9) !important;
	border-left-color:#3d2a14 !important;
	border-right-color:#3d2a14 !important;
}
#message.good{
	background:#eee !important;
	border-color:#66334d !important;
}
#message.good p{
	color:#e6b2cc !important;
}
#message.minor{
	background:#a7bfd6 !important;
	border-color:#073158 !important;
}
#message.minor p{
	color:#cd690f !important;
}
#message.major{
	background:#d6fffe !important;
	border-color:#00bb96 !important;
}
#message.major p{
	color:#661a00 !important;
}
#message .time{
	color:#ccc !important;
}
.good{
	color:#cb6899 !important;
}
.minor{
	color:#0d62af !important;
}
.major{
	color:#3cf3cf !important;
}
.commit-tease,
.full-commit,
.commit {
	background: #ddd !important;
	border: 1px solid #d8d7dd !important;
	border-color: #d8d7dd !important;
}
.commit-group {
	border-color: #ddd !important;
}
h3.commit-group-heading {
	background: #eee !important;
	border-color: #ddd !important;
	color: #000 !important;
}
.commit-group-item {
	border-color: #fff !important;	
	color: #111 !important;
}
.commit-group-item .authorship {
	color: #111 !important;	
}
.commit-meta {
	border-color: #d8d7dd !important;
}
.commit-title {
	color: #222 !important;
}
.browse-button,
.gobutton {
	background-color: #fff !important;
	background-image: -moz-linear-gradient(#fff, #eee) !important;
	background-image: -webkit-linear-gradient(#fff, #eee) !important;
	background-image: linear-gradient(#fff, #eee) !important;
	border: 1px solid #ccc !important;
}
.commit-group-item .browse-button {
	border: 0 !important;
	color: #111 !important;
	background: transparent !important;	
}
.gobutton>.sha .octicon {
	border-color: #957373 !important;
	color: #111 !important;
}
.gobutton:hover>.sha .octicon {
	border-color: #111 !important;
}
.blob-line-nums,
.blob-line-code,
.markdown-body .highlight pre,
.markdown-body pre {
	background: #d8d7dd !important;
	border: 0 !important;
}
/**
 * monokai syntax highlighter style edited from:
 * https://github.com/richleland/pygments-css/blob/master/monokai.css
 */
.highlight,
.highlight .hll {
	background-color: #d8d7dd !important;
	border: 0 !important;
}
.highlight .c {
	color: #8a8ea1 !important; /* comment */
}
.highlight .err {
	color: #69ffaf !important; 
	background-color: #e1ffef !important; /* error */
}
.highlight .k {
	color: #992610 !important; /* keyword */
}
.highlight .l {
	color: #517e00 !important; /* literal */
}
.highlight .n {
	color: #07070D !important; /* name */
}
.highlight .o {
	color: #06d98d !important; /* operator */
}
.highlight .p {
	color: #07070d !important; /* punctuation */
}
.highlight .cm {
	color: #8a8ea1 !important; /* comment.multiline */
}
.highlight .cp {
	color: #8a8ea1 !important; /* comment.preproc */
}
.highlight .c1 {
	color: #8a8ea1 !important; /* comment.single */
}
.highlight .cs {
	color: #8a8ea1 !important; /* comment.special */
}
.highlight .ge {
	font-style: italic !important; /* generic.emph */
}
.highlight .gs {
	font-weight: bold !important; /* generic.strong */
}
.highlight .kc {
	color: #992610 !important; /* keyword.constant */
}
.highlight .kd {
	color: #992610 !important; /* keyword.declaration */
}
.highlight .kn {
	color: #06d98d !important; /* keyword.namespace */
}
.highlight .kp {
	color: #992610 !important; /* keyword.pseudo */
}
.highlight .kr {
	color: #992610 !important; /* keyword.reserved */
}
.highlight .kt {
	color: #992610 !important; /* keyword.type */
}
.highlight .ld {
	color: #19248b !important; /* literal.date */
}
.highlight .m {
	color: #517e00 !important; /* literal.number */
}
.highlight .s {
	color: #19248b !important; /* literal.string */
}
.highlight .na {
	color: #591dd1 !important; /* name.attribute */
}
.highlight .nb {
	color: #07070d !important; /* name.builtin */
}
.highlight .nc {
	color: #591dd1 !important; /* name.class */
}
.highlight .no {
	color: #992610 !important; /* name.constant */
}
.highlight .nd {
	color: #591dd1 !important; /* name.decorator */
}
.highlight .ni {
	color: #07070d !important; /* name.entity */
}
.highlight .ne {
	color: #591dd1 !important; /* name.exception */
}
.highlight .nf {
	color: #591dd1 !important; /* name.function */
}
.highlight .nl {
	color: #07070d !important; /* name.label */
}
.highlight .nn {
	color: #07070d !important; /* name.namespace */
}
.highlight .nx {
	color: #591dd1 !important; /* name.other */
}
.highlight .py {
	color: #07070d !important; /* name.property */
}
.highlight .nt {
	color: #06d98d !important; /* name.tag */
}
.highlight .nv {
	color: #07070d !important; /* name.variable */
}
.highlight .ow {
	color: #06d98d !important; /* operator.word */
}
.highlight .w {
	color: #07070d !important; /* text.whitespace */
}
.highlight .mf {
	color: #517e00 !important; /* literal.number.float */
}
.highlight .mh {
	color: #517e00 !important; /* literal.number.hex */
}
.highlight .mi {
	color: #517e00 !important; /* literal.number.integer */
}
.highlight .mo {
	color: #517e00 !important; /* literal.number.oct */
}
.highlight .sb {
	color: #19248b !important; /* literal.string.backtick */
}
.highlight .sc {
	color: #19248b !important; /* literal.string.char */
}
.highlight .sd {
	color: #19248b !important; /* literal.string.doc */
}
.highlight .s2 {
	color: #19248b !important; /* literal.string.double */
}
.highlight .se {
	color: #517e00 !important; /* literal.string.escape */
}
.highlight .sh {
	color: #19248b !important; /* literal.string.heredoc */
}
.highlight .si {
	color: #19248b !important; /* literal.string.interpol */
}
.highlight .sx {
	color: #19248b !important; /* literal.string.other */
}
.highlight .sr {
	color: #19248b !important; /* literal.string.regex */
}
.highlight .s1 {
	color: #19248b !important; /* literal.string.single */
}
.highlight .ss {
	color: #19248b !important; /* literal.string.symbol */
}
.highlight .bp {
	color: #07070d !important; /* name.builtin.pseudo */
}
.highlight .vc {
	color: #07070d !important; /* name.variable.class */
}
.highlight .vg {
	color: #07070d !important; /* name.variable.global */
}
.highlight .vi {
	color: #07070d !important; /* name.variable.instance */
}
.highlight .il {
	color: #517e00 !important; /* literal.number.integer.long */
}
.highlight .gu {
	color: #8a8ea1 !important; /* generic.subheading & diff unified/comment? */
}
.highlight .gd {
	color: #06d98d !important; /* generic.deleted & diff deleted */
}
.highlight .gi {
	color: #591dd1 !important; /* generic.inserted & diff inserted */
}