$font: Verdana, Verdana, Geneva, sans-serif;
//---box
$radius: 6px;
$padding: 5px;
$border: #999;
$sectionBg: #ddd;
$headerBg: #aaa;
$headerFont: #000;
$footerBg: #999;
$FooterFont: #000;
//---buttons
$btnBg: #eee;
$btnBgHover: #fff;
$btnFont: #333;
$btnFontHover: #000;
$btnBorder: #999;
$btnBorderHover: #ccc;
//---input
$inputBg: #efefef;
$inputBgHover: #fff;
$inputFocus: #000;